/*General aspects*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
/*Header styles*/
header{
    display: flex;
    height: 64px;
    padding-left:24px ;
    padding-right:24px ;
    flex-direction: row;
    justify-content: space-between;    
}
.logo{
display: flex;
flex-direction: row;
}
.logo img{
    display: flex;
}
.logo p{
    display: flex;
    font-size: 28px;
    align-items: center;
    color: #9B9B9B;
}
.logo em{
    font-weight: bold;
    color: #4A4A4A;
    font-style: normal;
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 28px;
    font-weight: 500;
    align-items: center;
}
.navbar a{
    color: #4A4A4A;
    text-decoration: none;
}
.navbar a:hover{
    color: #5194E2;
    text-decoration: none;
}


/*Main content 1st part*/
.first-section{
    background-color: #D8D8D8;
    display:flex;
    padding:32px 24px;
    height: 576px;
}
.media-1{
    display: flex;
    width:60%;
}